{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "warframe-wishlist.fullname" . }}
  labels:
    {{- include "warframe-wishlist.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.mongodb.enabled }}
  {{- /* Build MongoDB URI from internal MongoDB deployment */}}
  {{- $mongoHost := printf "%s-mongodb" (include "warframe-wishlist.fullname" .) }}
  {{- $mongoUser := index .Values.mongodb.auth.usernames 0 }}
  {{- $mongoPass := index .Values.mongodb.auth.passwords 0 }}
  {{- $mongoDb := .Values.mongodb.database }}
  {{- $mongoUri := printf "mongodb://%s:%s@%s:27017/%s?authSource=%s" $mongoUser $mongoPass $mongoHost $mongoDb $mongoDb }}
  MONGO_URI: {{ $mongoUri | b64enc | quote }}
  {{- else if .Values.externalMongodb.uri }}
  {{- /* Use external MongoDB URI */}}
  MONGO_URI: {{ .Values.externalMongodb.uri | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.supabaseJwtSecret }}
  SUPABASE_JWT_SECRET: {{ .Values.secrets.supabaseJwtSecret | b64enc | quote }}
  {{- end }}
{{- end }}
